<template>
  <span v-html="$parent.imploded_object(val)" />
</template>
<script>
export default {
  props: [
    'val',
  ],
};
</script>
<style lang="scss" scoped>
  span {
    max-width: 20%;
  }
</style>
