<template>
  <span>{{ value }}</span>
</template>
<script>
export default {
  props: [
    'val',
  ],
  computed: {
    value() {
      return (this.val === true || this.val === 'true') ? 'yes' : 'no';
    },
  },
};
</script>
<style lang="scss" scoped>
  span{
    text-transform: capitalize;
  }
</style>
