<template>
  <span><img :src="val"></span>
</template>
<script>
export default {
  props: [
    'val',
  ],
};
</script>
<style lang="scss" scoped>
  img {
    max-height: 30px;
    max-width: 30px;
  }
</style>
