<template>
  <input class="uk-input" type="number" v-model="row[columnData.field]" @change="valueChanged" :placeholder="settings.placeholder" :max="settings.max" :min="settings.min">
</template>
<script>
export default {
  props: [
    'val',
    'columnData',
    'row'
  ],
  computed: {
    settings() {
      return {
        min: (this.columnData.inputsettings && this.columnData.inputsettings.min) ? this.columnData.inputsettings.min : 0,
        max: (this.columnData.inputsettings && this.columnData.inputsettings.max) ? this.columnData.inputsettings.max : null,
        placeholder: (this.columnData.inputsettings && this.columnData.inputsettings.placeholder) ? this.columnData.inputsettings.placeholder : null,
      }
    }
  },
  methods: {
    /**
     * Calls a function when the value is changed
     * 
     */
    valueChanged() {
      if (this.row[this.columnData.field] < this.settings.min) this.row[this.columnData.field] = this.settings.min;
      if (this.settings.max && this.row[this.columnData.field] > this.settings.max) this.row[this.columnData.field] = this.settings.max;
      if (this.columnData && Object.keys(this.columnData).includes('onchange')) {
        this.columnData.onchange(this.row, this.val);
      }
    }
  }
};
</script>