<template>
  <span>
    {{ value }}
  </span>
</template>
<script>
export default {
  props: [
    'val',
  ],
  computed: {
    /**
     * Converts to a number or displays the string
     *
     * @return Mixed value
     */
    value() {
      return (!Number(this.val)) ? this.val : Number(this.val);
    },
  },
};
</script>
