<template>
  <span>
    <span v-for="(item, index) in val" :key="index" class="str"> {{ item }}</span>
  </span>
</template>
<script>
export default {
  props: [
    'val',
  ],
};
</script>
<style lang="scss" scoped>
  .str {
    display: block;
  }
</style>
