<template>
  <input class="uk-input" type="text" v-model="row[columnData.field]" @change="valueChanged">
</template>
<script>
export default {
  props: [
    'val',
    'columnData',
    'row'
  ],
  methods: {
    /**
     * calls a function when the value is changed
     * 
     */
    valueChanged() {
      if (this.columnData && Object.keys(this.columnData).includes('onchange')) {
        this.columnData.onchange(this.row, this.val);
      }
    }
  }
};
</script>
