<template>
  <div class="DataTable">
    <vk-grid gutter="small" class="uk-child-width-expand@s uk-text-center">
      <div v-for="column in columns" v-bind:key="column.field" v-show="column.filter">
        <div class="uk-margin">
          <select class="uk-select"
            v-if="filter_by[column.field]"
            v-model="filter_by[column.field].value_now"
            @change="filter_by.change = filter_by.change + 1"
          >
            <option value>Filter by {{ column.title }}</option>
            <option v-for="ii in filter_by[column.field].items"
              :value="ii" v-bind:key="ii">
              {{ (column.type == 'boolean') ? (ii == 'true' ) ? 'Yes ': 'No' : ii }}
            </option>
          </select>
        </div>
      </div>
      <div class="uk-search uk-search-default">
        <input class="uk-search-input" type="search" placeholder="Search..." v-model="search_query">
      </div>
    </vk-grid>

    <table class="uk-table uk-table-hover uk-table-divider">
      <thead>

        <tr>
          <th v-if="selectableRows" class="uk-table-shrink"></th>
          <th v-for="column in columns.filter(col => col.hidden !== true)" v-bind:key="column.field" :class="{'uk-table-shrink uk-text-nowrap': column.smallField}">
            {{column.title}}
            <vk-icon
              class="float-right sort_by_btn {{}}"
              :class="{ 'active': column.field == current_sort}"
              v-if="column.sortable"
              :icon="(column.field == current_sort) ? (current_sort_direction == 'ASC')
                ? 'arrow-up' : 'arrow-down' :  'arrow-down'"
              @click="current_sort = column.field; current_sort_direction = (current_sort_direction === 'ASC') ? 'DESC': 'ASC'"
            ></vk-icon>
            <input
              class="uk-checkbox"
              type="checkbox"
              v-if="column.type && column.type == 'action|checkbox'"
            >
          </th>
          <th v-if="actions" class="uk-table-shrink"></th>
        </tr>
      </thead>
      <tbody class="tablebody">
        <div class="tabledataLoading" v-if="loadingData || loadingPropData">
          <vk-spinner ratio="1.5" />
        </div>
        <tr v-if="in_view_3.length < 1">
          <td :colspan="columns.length" style="text-align: center">No results found</td>
        </tr>

        <tr v-for="row in in_view_3" v-bind:key="row.id" v-on:click="$emit('row_click', row)">
          <td v-if="selectableRows" @click.stop="addRemoveSelected(row)">
            <input class="uk-checkbox" type="checkbox" :checked="selectedItems.filter(obj => JSON.stringify(obj) === JSON.stringify(row)).length">
          </td>
          <td v-for="(column) in columns.filter(col => col.hidden !== true)" v-bind:key="column.field">
            <span v-if="!column.type || column.type.substring(0, 6) != 'action'">
              <span v-if="column.prefix">{{column.prefix}}</span>
              <component :is="getComponent(column.type)" :val="row[column.field]" :columnData="column" :row="row"></component>
              <span v-if="column.suffix">{{column.suffix}}</span>
            </span>
          </td>
          <td v-if="actions">
            <vk-icon
              v-for="action in actions"
              v-bind:key="action.event"
              :icon="action.icon"
              @click.stop="$emit('row_' +action.event, row)"
              class="row_action"
              v-vk-tooltip="{ title:action.title, animation: 'fade', duration: 100 }"
            ></vk-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <vk-pagination
      :page.sync="page"
      :per-page="per_page"
      :total="total_rows"
      v-if="total_rows > per_page"
    >
      <vk-pagination-page-first></vk-pagination-page-first>
      <vk-pagination-page-prev label="Previous" expanded></vk-pagination-page-prev>
      <vk-pagination-pages></vk-pagination-pages>
      <vk-pagination-page-next label="Next" expanded></vk-pagination-page-next>
      <vk-pagination-page-last></vk-pagination-page-last>
    </vk-pagination>

  </div>
</template>
<script>

import fields from './fields';
/**
 * Loads all the field types
 *
 * @todo Make sure this isn't getting added to the vue instance
 * every time a datatable is initialised
 */

const comps = {};
Object.keys(fields).forEach((key) => {
  comps[`${key}-vk-datatable-field`] = fields[key];
});

export default {
  name: 'vuikit-datatable',
  components: comps,
  props: {
    /**
     * Columns that are available for this table
     *
     * @todo Add more validation but without sacrificing performance
     */
    columns: {
      type: Array,
      required: true,
      /**
       * Validates that there is a field set for every column
       *
       * @param Array columns
       * @return Boolean
       */
      validator: (columns) => {
        let valid = true;
        columns.forEach((column) => {
          if (!Object.keys(column).includes('field')) valid = false;
        });
        return valid;
      },
    },
    /**
     * Stores the table rows
     * @var Array
     */
    rows: {
      type: Array,
      required: true,
    },
    /**
     * Amount of results to display per page
     *
     * @var Number
     */
    per_page: {
      type: Number,
      required: false,
      default: 10,
    },
    /**
     * The actions that are available for each row
     * @var Array
     */
    actions: {
      type: Array,
      required: false,
    },

    /**
     * The default sorting for this table
     * @var string
     */
    defaultSort: {
      type: String,
      required: false,
    },

    /**
     * Manualy show the loading symbol
     * @var Boolean
     */
    loadingPropData: {
      type: Boolean,
      required: false,
      default: false,
    },

    /**
     * Can select and perform actions on multiple items
     * @var Boolean
     */
    selectableRows: {
      type: Boolean,
      required: false,
      default: false,
    }
  },
  data() {
    return {
      loadingData: true,
      /**
       * Initial items in view
       * @var Array
       */
      in_view: [],
      /**
       * Items in view after filtering
       * @var Array
       */
      in_view_2: [],
      /**
       * Items in view after pagination
       * @var Array
       */
      in_view_3: [],
      /**
       * The current sort value
       * @var String
       */
      current_sort: null,
      /**
       * The current sort direction
       * @var String
       */
      current_sort_direction: 'ASC',
      /**
       * The current page were on
       * @var Int
       */
      page: 1,
      /**
       * Selected items in the list
       */
      selected: [],
      /**
       * Fields that are searchable
       */
      searchFields: [],
      /**
       * The current search query
       * @var String
       */
      search_query: null,
      /**
       * The key value object of sorting options with directions
       * sets change to 1 when getting filtered
       *
       * @var Object
       */
      filter_by: {
        change: 0,
      },
      /**
       * Stores an array of the currently selected Items
       */
      selectedItems: []
    };
  },
  /**
   * Watchers for sorting, pagination and data updating
   */
  watch: {
    current_sort() {
      this.resort();
    },
    current_sort_direction() {
      this.resort();
    },
    page() {
      this.paginate();
    },
    rows() {
      this.initMethod();
    },
    in_view() {
      this.in_view_2 = this.valueFilterer();
    },
    in_view_2() {
      this.paginate();
    },
    search_query() {
      this.in_view_2 = this.valueFilterer();
    },
    /* eslint-disable func-names */
    'filter_by.change': function () {
      this.in_view_2 = this.valueFilterer();
    },
  },
  computed: {
    /**
     * The total amount of rows in the table
     * @return Int
     */
    total_rows() {
      return this.in_view_2.length;
    },
  },
  mounted() {
    // Run the init method to build the table
    this.initMethod();
    if ( this.defaultSort ) this.current_sort = this.defaultSort;
  },
  methods: {
    /**
     * Fetch the right field type component
     *
     * @param String type
     * @return String component name
     */
    getComponent(type) {
      let field = (!type) ? 'normal' : type;
      field = field.split('_').join(' ');
      /* eslint-disable arrow-body-style */
      field = field.replace(/(?:^\w|[A-Z]|\b\w)/g, (letter, index) => {
        return index === 0 ? letter.toLowerCase() : letter.toUpperCase();
      }).replace(/\s+/g, '');
      return `${field}-vk-datatable-field`;
    },
    /**
     * Table initialisation method
     *
     * @return void()
     */
    initMethod() {
      const self = this;
      this.in_view = this.rows;
      this.in_view_2 = this.valueFilterer();
      this.in_view_3 = this.in_view_2.slice(0, this.per_page - 1);

      this.searchFields = [];

      // loop over the columns to create the structure
      Object.keys(this.columns).forEach((col) => {
        if (this.columns[col].search) {
          this.searchFields.push(this.columns[col].field);
        }

        if (this.columns[col].filter) {
          if ((!self.filter_by, self.columns[col].field)) {
            this.$set(self.filter_by, self.columns[col].field, {
              value_now: '',
              items: self.getDistinctValues(self.columns[col].field), // return the distinct field
            });
          }
        }
      });

      this.loadingData = false;
    },
    /**
     * Resort the results based on the current sort item and the current direction
     * @return void
     */
    resort() {
      if (this.current_sort) {
        const dir = (this.current_sort_direction === 'ASC') ? 'sort_asc' : 'sort_desc';
        this.in_view = this.in_view.sort(this[dir]);
      }
    },
    /**
     * Sort the given items in ascending order
     *
     * @param Mixed a
     * @param Mixed b
     * @return Int
     */
    sort_asc(a, b) {
      if (a[this.current_sort] < b[this.current_sort]) return - 1;
      if (a[this.current_sort] > b[this.current_sort]) return 1;
      return 0;
    },
    /**
     * Sort the given items in descending order
     *
     * @param Mixed a
     * @param Mixed b
     * @return Int
     */
    sort_desc(a, b) {
      if (a[this.current_sort] > b[this.current_sort]) return -1;
      if (a[this.current_sort] < b[this.current_sort]) return 1;
      return 0;
    },
    /**
     * Create the pagination for the items that are in view
     */
    paginate() {
      let start = 0;
      let end = this.per_page;
      if (this.page !== 1) {
        start = (this.page * this.per_page) - this.per_page - 1;
        end = (start + this.per_page) - 1;
      }
      this.in_view_3 = this.in_view_2.slice(start, end);
    },
    /**
     * Get distinct row values for a certain field type
     *
     * @param String field
     * @return Array paginated items with the current sorting
     */
    getDistinctValues(field) {
      const items = [];

      Object.keys(this.in_view).forEach((item) => {
        if (!Array.isArray(this.in_view[item][field]) && !items.includes(this.in_view[item][field])) {
          items.push(this.in_view[item][field]);
        } else if (Array.isArray(this.in_view[item][field])) {
          this.in_view[item][field].forEach(val => {
            if (!items.includes(val)) items.push(val);
          });
        }
      });

      return items.sort((a, b) => {
        if (a < b) return -1;
        if (a > b) return 1;
        return 0;
      });
    },
    /**
     * Filters the rows in the table based on the users selections and search
     *
     * @returns Array items that get shown
     */
    valueFilterer() {
      const self = this;
      self.page = 1;

      let itemsArray = this.in_view;

      Object.keys(this.filter_by).forEach((filter) => {
        if (filter !== 'change') {
          const vn = self.filter_by[filter].value_now;
          itemsArray = itemsArray.filter(row => {
            if (!Array.isArray(row[filter])) {
              return !vn || row[filter] === vn;
            } else {
              return !vn || row[filter].includes(vn);
            }
        });
        }
      });

      itemsArray = itemsArray.filter((row) => {
        if (!self.search_query) return true;
        let exists = false;

        Object.keys(self.searchFields).forEach((sr) => {
          if (row[self.searchFields[sr]] instanceof Array) {
            exists = self
              .imploded_object(row[self.searchFields[sr]])
              .toLowerCase()
              .includes(self.search_query.toLowerCase())
              ? true
              : exists;
          } else if (
            row[self.searchFields[sr]] !== undefined &&
            isNaN(row[self.searchFields[sr]]) &&
            row[self.searchFields[sr]]
              .toLowerCase()
              .includes(self.search_query.toLowerCase())
          ) {
            exists = true;
          } else if (row[self.searchFields[sr]] === self.search_query) {
            exists = true;
          }
        });
        return exists;
      });
      return itemsArray;
    },
    /**
     * Implodes an object to a comma seperated string
     *
     * @param Object obj
     * @return String comma seperated string
     */
    imploded_object(obj) {
      return Object.values(obj).join(', ');
    },
    /**
     * Adds an item to the selected row
     * 
     * @param row {*}
     */
    addRemoveSelected(row) {
      const matches = this.selectedItems.filter(obj => JSON.stringify(obj) === JSON.stringify(row))
      if (matches.length) {
        this.selectedItems = this.selectedItems.filter(obj => JSON.stringify(obj) !== JSON.stringify(row))
      } else {
        this.selectedItems.push(row);
      }
      this.$emit('rowsSelected', this.selectedItems);
    },
    /**
     * Clears out selected items from the list
     */
    clearSelectedRows() {
      this.selectedItems = [];
      this.$emit('rowsSelected', this.selectedItems);
    }
  },
};
</script>
<style lang="scss" scoped>
  .DataTable .sort_by_btn:hover {
    color: blueviolet;
    cursor: pointer;
  }
  .DataTable .sort_by_btn .active {
    color: blueviolet;
  }
  .uk-table-hover > tr:hover,
  .uk-table-hover tbody tr:hover {
    cursor: pointer;
    background-color: #403d3d;
    color: white;
  }
  .row_action {
    background-color: white;
    color: black;
    padding: 5px;
    transition: ease all 0.3s;
  }
  .row_action:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  span.float-right {
    float: right;
  }
  td{
    text-align: left;
  }
  tbody.tablebody {
    position: relative;
    .tabledataLoading {
      position: absolute;
      width: 93%;
      background-color: rgba(255, 255, 255, 0.5);
      height: 64%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .uk-table td {
    vertical-align: middle;
  }
 </style>
